/MedicalImageFusion/nbproject/private/
/DicomExtractor/nbproject/private/
/DicomExtractor/dist/
/DicomExtractor/build/
/mavenproject1/MedicalImageFusion/target/
/mavenproject1/MedicalImageFusion/images/
/Dicom files/